<div class = "level-center">
        <div class="level-center pt-4 ">
                    <div class="tile is-child box">
                        <p class="title">Messages</p>
                        <article class="media" *ngFor="let message of messages">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Sender:</strong>{{message.name}}
                                        <br>
                                        <strong>Email: </strong>{{message?.email}}
                                        <br>
                                        <strong>Subject: </strong>{{message?.subject}}
                                        <br>
                                        <strong>Message: </strong>
                                        {{message?.message}}
                                    </p>
                                    <button class="button is-success" (click)="reply(message.email, message.subject)">Reply</button>
                                </div>
                            </div>
                            <div class="media-right">
                                <button class="delete" (click)="deleteMessage(message.id)"></button>
                            </div>
                        </article>
                    </div>
                    
                    
        </div>
</div>


