<section class="hero is-fullheight">
<div class="hero-body">
<div class="container has-text-centered ">
    <p class="title has-text-black">
        <a> Online Prompt Generator</a>
    </p>
    <div class="tile is-parent">
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box">
                <p class="title">Your Generated Prompt</p>
                <div *ngFor="let item of chatConversation">
                    <p class="card-text padding" [ngClass]="item.cssClass">
                        {{item.person}} : {{getText(item.response)}}
                    </p>
                </div>
            </div>
        </div>

        <div class="tile is-parent">
                <article class="tile is-child notification">
                    <label class="label has-text-black">What are the parts of your prompt</label>
                    <div class="field">
                        <label class="label has-text-black">General Topic</label>
                        <div class="control">
                            <input class="input" type="text" [(ngModel)]="topic" placeholder="Enter Your Topic Here" required>
                        </div>
                    </div>
                    
                    <div class="field">
                        <label class="label has-text-black">What is the task at hand</label>
                        <div class="control">
                            <div class="select">
                                <select [(ngModel)]="task" required>
                                    <option>Report</option>
                                    <option>Presentation</option>
                                    <option>Research</option>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" (click)="submit()">Submit</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-light">Cancel</button>
                        </div>
                    </div>

                </article>
        
        </div>
    </div>
</div>
</div>
</section>





