<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-12">
                    <div class="tile">
                        <div class="tile is-parent">
                            <article class="tile is-child notification ">
                                <p class="title">Welcome to Our Online Web Store!</p>
                                <p class="subtitle">We’re so glad you’ve decided to shop with us. Here at our online web store, we strive to provide the highest quality
                                products at the best prices possible. Our mission is to ensure that customers have the best online shopping experience
                                possible. We provide a wide selection of products from top brands, as well as our own in-house products.</p>
                                <p class="subtitle">Our team is dedicated to providing excellent customer service to ensure that your shopping experience is hassle-free.
                                We’re here to answer any questions you may have about our products and services and to help you find exactly what you’re
                                looking for. We also offer free shipping on all orders, making sure that you get your order as quickly as possible.</p>
                                <p class="subtitle">We want to make sure that customers are fully satisfied with their purchases. That’s why we offer a 30-day money-back
                                guarantee on all of our products. If you’re not completely happy with your purchase, you can return it for a full
                                refund.</p>
                                <p class="subtitle">We hope you find everything you need here at our online web store. Thank you for choosing us and we look forward to
                                serving you!</p>
                            </article>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-link">
                            <p class="title">Follow us On Social</p>
                                <a class="button is-medium is-facebook is-outlined" src="https://github.com/efuente2/FullStackWebApp">
                                    <span class="icon">
                                        <i class="fab fa-facebook fa-lg"></i>
                                    </span>
                                </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>